.image {
    width: 200px;
    height: 200px;
    padding: 0 5px;
    display: block;
}

#characters {
    width: 900px;
}

.position {
    float: left;
    margin-left: 10px;
}

.centered {
    text-align: center;
    border: 1px solid blue;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

#fight {
    margin-top: 250px;
}

h2 {
    margin-left: 10px;
}

button {
    margin-left: 10px;
}

body {
    background-image: url("../images/X-wing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#stats {
    height: 65px;
    width: 175px;
    background-color: white;
    float: right;
    text-align: center;
}

aside {
    visibility: hidden;
}
